---
# Minimal clang-tidy configuration for StreamDAB Stream Analyser
HeaderFilterRegex: '.*'
Checks: '-*,bugprone-*,performance-*,-bugprone-easily-swappable-parameters'
WarningsAsErrors: ''
UseColor: true
